<div id="<%= dom_id castle %>">
  <p>
    <strong>Name:</strong>
    <%= castle.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= castle.region %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= castle.description %>
  </p>

  <p>
    <strong>Built year:</strong>
    <%= castle.built_year %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= castle.image_url %>
  </p>

</div>
